body {
  margin: 0;
  background-color: black;
  color: whitesmoke;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator-grid{
  display: grid;
  grid-template-columns: 15vh 55vh;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 10vw);
  gap: 10px;
  border-radius: none;
}

.span-two {
  grid-column: span 2;
}

button {
  background-color: lightgray;
  border: none;
  transition: all .1s;
  font-size: 2rem;
  border-radius: 1;
}

button:hover {
  background: grey;
  color: whitesmoke;
}

.output {
  display: grid;
  place-content: center end;
}